.header_options {
    display: flex;
    background-color: #F4F5F7;
    justify-content: center;
    outline: none;
    border: none;
    margin: 0 10px 0px 40px;
    padding: 0;
}

.btnHeader_options {
    display: flex;
    background: none;
    border: none;
    text-align: center;
    justify-content: space-between;
    margin: 0 40px 0 60px;
    padding: 0;
    outline: none;
    font-weight: 900;
    font-size: 16px;
    color: #221F52;
}

.icon_options {
    display: flex;
    position:static;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-right: 2px;
}

.btnHeader_options:hover {
    color: #ED0973;
    transform: scale(1.1);
}